<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="js/bower_components/vue/dist/vue.min.js" type="text/javascript" charset="utf-8" ></script>
	<script type="text/javascript" src="js/bower_components/vue-resource/dist/vue-resource.min.js"></script>
</head>
<body>
	用户名：<input type="text" v-model="user"><br>
	密码：<input type="text" v-model="password"><br>
	<input type="button" value="提交" @click="login">

	<script >
		new Vue({
			el:'body',
			data:{
				user:"",
				password:""
			},
			methods:{
				login:function(){
					this.$http.get("http://localhost:2133/getMsg",{
						user:this.user,
						pass:this.password
					}).then(function(data){
						if(data.data.ok == 1){
							alert(data.data.msg)
						}
						else{
							alert('失败了')
						}

					}).catch(function(){
						alert('aaa')
					})
				}
			}
		})
	</script>
</body>
</html>